import api from '@/api';
import { queryParams } from '@/utils/request';
import { ActionType, ProTable } from '@ant-design/pro-components';
import { Button } from 'antd';
import { useRef } from 'react';
import { use{{pascalCase name}}Columns } from './use{{pascalCase name}}Columns';
import {{pascalCase name}}SaveForm from './{{pascalCase name}}SaveForm';
import { useAccess } from '@umijs/max';


const pageRequest = async (params: any, sort: any, filter: any) =>
  api.{{camelCase name}}.page(queryParams(params, sort, filter));

const {{pascalCase name}}Table = () => {
  const access = useAccess()
  const actionRef = useRef<ActionType>(null);
  const columns = use{{pascalCase name}}Columns();
  return (
    <ProTable<API.{{pascalCase name}}VO>
      rowKey="id"
      actionRef={actionRef}
      request={pageRequest}
      columns={columns}
      toolbar={ {
        actions: [
          access.{{ constantCase module.name}}__{{ constantCase name}}__CREATE && <{{pascalCase name}}SaveForm
            key="save"
            onFinish={actionRef.current?.reload}
            trigger={<Button type="primary">创建{{ comment }}</Button>}
          />,
        ],
      } }
    ></ProTable>
  );
};

export default {{pascalCase name}}Table;
